<%- include('header.ejs') %>

    <div class='container'>
        <div class="row st-card-row">
            <!-- Hymns -->
            <div class="card col-md-4 st-card  bg-secondary text-white">
                <div class="card-body">
                    <a href="/hymns">
                        <h4 class="card-title"><i class="fas fa-music"></i>&nbsp;Hymns</h4>
                        <p class="card-text">Lists all hymns which can be edited, projected on screen for family
                            prayers. It also allows to
                            manage hymn writer's information.</p>
                    </a>
                </div>
                <!-- <div class="card-footer st-card-footer">
                    <a href="/hymns" class="btn st-btn-primary"><i class="fas fa-chevron-right"></i></a>
                </div> -->
            </div>

            <!-- Bible -->
            <div class="card col-md-4 st-card bg-secondary text-white">
                <div class="card-body">
                    <a href="/bible">
                        <h4 class="card-title"><i class="fas fa-book-open"></i>&nbsp;Bible</h4>
                        <p class="card-text">Read scripture. You can create notes for the scripture and also create
                            reference scriptures.
                        </p>
                    </a>
                </div>
                <!-- <div class="card-footer st-card-footer">
                    <a href="/bible" class="btn st-btn-primary"><i class="fas fa-chevron-right"></i></a>
                </div> -->
            </div>

            <!-- Meditation/Notes -->
            <div class="card col-md-4 st-card bg-secondary text-white">
                <div class="card-body">
                    <a href="/meditation">
                        <h4 class="card-title"><i class="far fa-comment-dots"></i>&nbsp;Meditation</h4>
                        <p class="card-text">Ideally this lists out all your notes you took during your quitetime with
                            God's words.
                        </p>
                    </a>
                </div>
                <!-- <div class="card-footer st-card-footer">
                    <a href="/meditation" class="btn st-btn-primary"><i class="fas fa-chevron-right"></i></a>
                </div> -->
            </div>

            <!-- Diary -->
            <div class="card col-md-4 st-card bg-secondary text-white">
                <div class="card-body">
                    <a href="/articles">
                        <h4 class="card-title"><i class="fas fa-file-alt"></i>&nbsp;Diary</h4>
                        <p class="card-text">Mostly I jot down my diary in this section.</p>
                    </a>
                </div>
                <!-- <div class="card-footer st-card-footer">
                    <a href="/articles" class="btn st-btn-primary"><i class="fas fa-chevron-right"></i></a>
                </div> -->
            </div>

            <!-- Audio Sermons -->
            <div class="card col-md-4 st-card bg-secondary text-white">
                <div class="card-body">
                    <a href="/audio">
                        <h4 class="card-title"><i class="fas fa-volume-up"></i>&nbsp;Audio Sermons</h4>
                        <p class="card-text">Lists all the available audio sermons from the sermonindex website. This is
                            an alternative to
                            sermonindex website or its app.</p>
                    </a>
                </div>
                <!-- <div class="card-footer st-card-footer">
                    <a href="/audio" class="btn st-btn-primary"><i class="fas fa-chevron-right"></i></a>
                </div> -->
            </div>

            <!-- Video Sermons -->
            <div class="card col-md-4 st-card bg-secondary text-white">
                <div class="card-body">
                    <a href="/video">
                        <h4 class="card-title"><i class="fab fa-youtube"></i>&nbsp;Video Sermons</h4>
                        <p class="card-text">Lists all video sermons from youtube. You can manage it by adding, editing
                            the list of video
                            sermon.</p>
                    </a>
                </div>
                <!-- <div class="card-footer st-card-footer">
                    <a href="/video" class="btn st-btn-primary"><i class="fas fa-chevron-right"></i></a>
                </div> -->
            </div>

            <!-- Links -->
            <div class="card col-md-4 st-card bg-secondary text-white">
                <div class="card-body">
                    <a href="#">
                        <h4 class="card-title"><i class="fas fa-link"></i>&nbsp;Useful links</h4>
                        <p class="card-text">Lists all useful links. Kind of browser bookmarks.</p>
                    </a>
                </div>
                <!-- <div class="card-footer st-card-footer">
                    <a href="#" class="btn st-btn-primary"><i class="fas fa-chevron-right"></i></a>
                </div> -->
            </div>

            <!-- Projects -->
            <div class="card col-md-4 st-card bg-secondary text-white">
                <div class="card-body">
                    <a href="#">
                        <h4 class="card-title"><i class="fas fa-code"></i>&nbsp;Projects</h4>
                        <p class="card-text">Lists all projects. This includes home projects, plannings and also IT
                            projects.</p>
                    </a>
                </div>
                <!-- <div class="card-footer st-card-footer">
                    <a href="#" class="btn st-btn-primary"><i class="fas fa-chevron-right"></i></a>
                </div> -->
            </div>

            <!-- Access Logs -->
            <div class="card col-md-4 st-card bg-secondary text-white">
                <div class="card-body">
                    <a href="/logs">
                        <h4 class="card-title"><i class="fas fa-code"></i>&nbsp;Access Logs</h4>
                        <p class="card-text">Shows who accessed what and when.</p>
                    </a>
                </div>
                <!-- <div class="card-footer st-card-footer">
                    <a href="#" class="btn st-btn-primary"><i class="fas fa-chevron-right"></i></a>
                </div> -->
            </div>

            <!-- Credentials -->
            <!-- <div class="card col-md-4 st-card">
                <div class="card-body">
                    <a href="/creds">
                        <h4 class="card-title"><i class="fas fa-key"></i>&nbsp;Credentials</h4>
                        <p class="card-text">Maintain credentials here.</p>
                    </a>
                </div>
                <div class="card-footer st-card-footer">
                    <a href="#" class="btn st-btn-primary"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div> -->

            <!-- Home Finance -->
            <div class="card col-md-4 st-card bg-secondary text-white">
                <div class="card-body">
                    <a href="/finance/billpay">
                        <h4 class="card-title"><i class="fas fa-hand-holding-usd"></i>&nbsp;Home Finance</h4>
                        <p class="card-text">Maintain home finance, budgeting, tracking spending and get relevant
                            reports and cgarts.</p>
                    </a>
                </div>
                <!-- <div class="card-footer st-card-footer">
                    <a href="#" class="btn st-btn-primary"><i class="fas fa-chevron-right"></i></a>
                </div> -->
            </div>

        </div>
    </div>
    <%- include('footer.ejs') %>