<%- include('header.ejs') %>
    <div class='container'>
        <div class="row st-unauthorized">
            <h1>Unfortunately, you are not authorized to view this page. <p>If you think you need to have permission to view this page. Please contact Sherebiah.</p></h1>
        </div>
    </div>
<%- include('footer.ejs') %>
