<%- include('./../../trimmedheader.ejs') %>
    <div class="container">
        <div class="row col">
            <div class="st-page-title">
                <h4><i class="fas fa-money-check-alt"></i>&nbsp;Edit Income</h4>
            </div>
        </div>
        <div class="row col st-form-top-buttons">
            <a href="/finance/income" role="button" class="btn st-btn-primary"><i class="fas fa-list"></i>&nbsp;Back to
                all Income</a>
        </div>
        <form action="/finance/income/update/<%=income.id%>?_method=PUT" method="POST">
            <%- include('_incomeform.ejs') %>
        </form>
    </div>
    <%- include('./../../footer.ejs') %>